---
title: Automation Hub Template
tags: ["Template"]
---


<style type="text/css">
h3, h2{
  color: rgb(0,0,255) !important;
}
.confluence-information-macro-warning {
    background: #fff8f7;
    border-color: #d04437;
}

.confluence-information-macro {
    background: #fcfcfc;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 1em 0;
    min-height: 20px;
    padding: 10px 10px 10px 36px;
    position: relative;
}


.aui-iconfont-error:before {
    content: "\F15A";
}

.aui-icon-small:before {
    margin-top: -8px;
}

aui-icon-large:before, .aui-icon-small:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    font-family: Adgs Icons;
    font-weight: 400;
    font-style: normal;
    speak: none;
    color: inherit;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    top: 50%;
}

.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-error {
    color: #cf4336;
}
.confluence-information-macro .confluence-information-macro-icon {
    display: block;
    left: 10px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    vertical-align: text-bottom;
}

.panel, .alertPanel, .infoPanel {
    color: #333;
    padding: 0;
    margin: 10px 0;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 3px;
}

}
.pdl .panelContent {
    color: #333;
    margin: 0;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    background: #fff;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}


.syntaxhighlighter {
    width: 100%;
  
    position: relative;

    font-size: 1em;
}

.toolbar{
  display: none;
}

.syntaxhighlighter.sh-midnight {
    background-color: #0f192a !important;
}

.pdl .codeContent .gutter, code, .code {
  color: #fff !important;
    background: #0a2b1d !important;
}

.syntaxhighlighter.sh-midnight .line.alt2 {
    background-color: #0f192a !important;
}

.wiki-content .panel.conf-macro {
    border-color: #dfe1e5;
}

div.panel.pdl {
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.panel, .alertPanel, .infoPanel {
    color: #333;
    padding: 0;
    margin: 10px 0;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 3px;
}


.pdl .codeContent {
    padding: 0;
}
.pdl .panelContent {
    color: #333;
    margin: 0;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    background: #fff;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

</style>

<h1 style="text-align: center;">
  <span style="letter-spacing: 0.0px;">
    <strong>
      <br/>AUTOMATION HUB<br/>
    </strong>
    <br/>
  </span>
</h1>

<table class="relative-table wrapped" style="width: 99.9255%;">
  <colgroup>
    <col style="width: 50.1864%;"/>
    <col style="width: 49.8136%;"/>
  </colgroup>
  <tbody>
    <tr>
      <td>
        <strong>Name: </strong>Getting Started with fnma Kinesis Producer<br/>
        <br/>
        <strong>Owner: </strong>Dheeraj Kumar Karnati<br/>
        <br/>
        <strong>Category: </strong>Development Automation - Chassis Dev Framework - Messaging and Event streaming components<br/>
        <br/>
        <strong>Version: </strong>1.0</td>
      <td>
        <p style="text-align: left;">
          <strong>Technology Stack: </strong>Java, Gradle, Maven<br/>
          <br/>
          <strong>Short Description of the Capability: </strong>
          <span style="color: rgb(51,51,51);">This guide walks you through the process of creating a microservice using fnma-boot-starter-kinesis to </span>
          <span style="color: rgb(23,43,77);">auto-create the necessary KinesisBinder using Fnma-Event-Streaming framework to publish the events to desired Topic.</span>
          <br/>
          <br/>
          <strong>Search Tags: </strong>Chassis, Messaging and Event Streaming, Kinesis, Kinesis producer</p>
        <p>
          <br/>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<p class="auto-cursor-target">
  <br/>
</p>
<table class="relative-table wrapped" style="margin-top:20px;width: 100.0%;">
  <colgroup>
    <col style="width: 100.0%;"/>
  </colgroup>
  <tbody>
    <tr>
      <th>
        <h3>Source Code Repo</h3>
      </th>
    </tr>
    <tr>
      <td>
        <a href="https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-kinesis-producer-starter">https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-kinesis-producer-starter</a>
      </td>
    </tr>
  </tbody>
</table>
<p class="auto-cursor-target">
  <br/>
</p>
<table class="relative-table wrapped" style="width: 100.0%;">
  <colgroup>
    <col style="width: 100.0%;"/>
  </colgroup>
  <tbody>
    <tr>
      <th>
        <h3>Description of the Automation Script</h3>
      </th>
    </tr>
    <tr>
      <td>
        <span style="color: rgb(23,43,77);">This service can produce Events and publish them to the configured Kinesis Topic by using </span>
        <span style="color: rgb(0,0,255);">
          <span style="color: rgb(51,51,51);">fnma-boot-starter-kinesis. All you have to make sure that you have proper read/write permission to the Kinesis Topic that you are configuring in this microservice and create appropriate entities and classes. </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <br/>
</p>
<table class="relative-table wrapped" style="width: 100.0%;">
  <colgroup>
    <col style="width: 100.0%;"/>
  </colgroup>
  <tbody>
    <tr>
      <th>
        <h3>How to use it?</h3>
      </th>
    </tr>
    <tr>
      <td>
        <div class="content-wrapper">
          <h3>
            <strong>Local Setup:</strong>
          </h3>
          <ul>
            <li>Setup the AWS Federated Login using <a class="external-link" href="https://fnma.sharepoint.com/sites/AWSTransformation/Guides/AWS%20API%20or%20CLI%20with%20Federated%20Authentication%20(Python).aspx" rel="nofollow" style="text-decoration: none;">AWS Federated</a>. Make sure file <a href="https://confluence:8443/download/attachments/490002344/config?version=2&amp;modificationDate=1598558079000&amp;api=v2" rel="nofollow" style="text-decoration: none;">
                <span>~/.aws/config</span>
              </a>exists with "region" set properly, or set environment variable as <em style="text-decoration: none;">
                <span style="color: rgb(23,43,77);">
                  <span style="color: rgb(23,43,77);text-decoration: none;">"AWS_REGION: us-east-1".</span>
                </span>
              </em>
            </li>
            <li>Add the <a href="https://confluence:8443/download/attachments/490002344/zscaller.jks?version=1&amp;modificationDate=1597942123000&amp;api=v2" rel="nofollow" style="text-decoration: none;">zscaller.jks</a>file into your application resource folder</li>
            <li>Add below snippet of code into your MainSpringBootApplication.Java file.</li>
          </ul>
          <p style="text-align: left;">

            <div class="code">
              <div class="container" title="Hint: double-click to select code">
            <em>
              <code class="groovy keyword" style="text-align: left;">static</code>
              <code class="groovy plain" style="text-align: left;">{</code>
            </em>
            <br/>
            <em>
              <code class="groovy plain" style="text-align: left;">ClassPathResource resource = </code>
              <code class="groovy keyword" style="text-align: left;">new</code>
              <code class="groovy plain" style="text-align: left;">ClassPathResource(</code>
              <code class="groovy string" style="text-align: left;">"zscaller.jks"</code>
              <code class="groovy plain" style="text-align: left;">);</code>
            </em>
            <br/>
            <em>
              <code class="groovy keyword" style="text-align: left;">try</code>
              <code class="groovy plain" style="text-align: left;">{</code>
            </em>
            <br/>
            <em>
              <code class="groovy plain" style="text-align: left;">System.setProperty(</code>
              <code class="groovy string" style="text-align: left;">"<a href="http://javax.net">javax.net</a>.ssl.trustStore"</code>
              <code class="groovy plain" style="text-align: left;">, Paths.</code>
              <code class="groovy functions" style="text-align: left;">get</code>
              <code class="groovy plain" style="text-align: left;">(resource.getURI()).toString());</code>
            </em>
            <br/>
            <em>
              <code class="groovy plain" style="text-align: left;">} </code>
              <code class="groovy keyword" style="text-align: left;">catch</code>
              <code class="groovy plain" style="text-align: left;">(IOException e) {</code>
            </em>
            <br/>
            <em>
              <code class="groovy plain" style="text-align: left;">e.printStackTrace();</code>
            </em>
            <br/>
            <em>
              <code class="groovy plain" style="text-align: left;">}</code>
            </em>
            <br/>
            <em>
              <code class="groovy plain" style="text-align: left;">System.setProperty(</code>
              <code class="groovy string" style="text-align: left;">"<a href="http://javax.net">javax.net</a>.ssl.trustStorePassword"</code>
              <code class="groovy plain" style="text-align: left;">, </code>
              <code class="groovy string" style="text-align: left;">"changeit"</code>
              <code class="groovy plain" style="text-align: left;">);</code>
            </em>
            <br/>
            <em>
              <code class="groovy plain" style="text-align: left;">}</code>
            </em>
            </div>
            </div>
          </p>
          <h3>
            <strong>Producer Application Properties:</strong>
          </h3>
          <p>
            <br/>Producer out going stream binding:</p>
          <p>
            <span style="color: rgb(0,51,102);">Add the below details under</span>
            <strong>
              <span style="color: rgb(0,51,102);">spring.cloud.stream.bindings.producerOrder-out-0:</span>
            </strong>
          </p>
          <table class="wrapped">
            <tbody>
              <tr>
                <td>Destination</td>
                <td>chassis-devl-etss-kds-CIN-KDS00000001(topic name)</td>
              </tr>
              <tr>
                <td>Content-type</td>
                <td>application/json</td>
              </tr>
            </tbody>
          </table>
          <p>
            <span style="color: rgb(0,0,0);">Add the details for kplKclEnabled under </span>
            <strong>
              <span style="color: rgb(0,51,102);">spring.cloud.stream.bindings.binder:</span>
            </strong>
          </p>
          <table class="wrapped">
            <tbody>
              <tr>
                <td>kplKclEnabled</td>
                <td>false</td>
              </tr>
            </tbody>
          </table>
          <p>
            <span style="color: rgb(23,43,77);">Add the details of Dynamo tables under </span>
            <span style="color: rgb(0,0,0);">
              <strong>
                <span style="color: rgb(0,51,102);">spring.cloud.stream.bindings.binder:</span>
              </strong>
            </span>
          </p>
          <table class="wrapped">
            <tbody>
              <tr>
                <td>checkpoint.table</td>
                <td>chassis-dynamo-chassis-chkPntTbl</td>
              </tr>
              <tr>
                <td>locks.table</td>
                <td>chassis-dynamo-chassis-lockTable</td>
              </tr>
            </tbody>
          </table>
          <p>
            <br/>Table structure for chassis-dynamo-chassis-chkPntTbl</p>
          <p>
            <img src="/post-images/chkpntbl.png" />
           
          </p>
          <p>
            <br/>Table structure for chassis-dynamo-chassis-lockTable</p>
          <p>
          <img src="/post-images/chassis-locktable.png" />
          </p>
          <h3>
            <strong>Chassis configuration</strong>
          </h3>
          <p class="auto-cursor-target">Add the details to enable kinesis from chassis<strong>fanniemae.chassis.event.kinesis.enable: true </strong>
          </p>
          <p class="auto-cursor-target">Add the below details for retry under <strong>fanniemae.chassis.event.retry</strong>
          </p>
          <table class="wrapped">
            <tbody>
              <tr>
                <td>maxAttempts</td>
                <td>2</td>
              </tr>
              <tr>
                <td>backOffInitialInterval</td>
                <td>100</td>
              </tr>
              <tr>
                <td>
                  <pre>producerBackOffInterval</pre>
                </td>
                <td>100</td>
              </tr>
            </tbody>
          </table>
          <h3>Create a Source to send the data as a Event Message</h3>
          <p>We need to create Source that can send the Event using FnmaPublisherDeligate with the desired EventType. Here we can send Event as a plain text/byte code/file etc. For each Event type we can create one Source Class that can transform Event into respective EventType and Send it to the FnmaPublisherDelegate which will further create the respective FnmaStreamTemplate (KinesisPublisher in this case) in chassis to publish to the topic.</p>
          <p>You will need to autowire FnmaPublisherDelegate in your Source class and use send method to publish the event as shown here.</p>
          <p>
            <strong>
              <br/>A. Send Order Event as Json<br/>
              <br/>
            </strong>
            <strong>
              <em>
                <u>OrderSource.Java</u>
              </em>
            </strong>
          </p>
          <p>
             <div class="code">
              <div class="container" title="Hint: double-click to select code">
                <em>@Autowired</em>
                <br/>
                <em>private FnmaPublisherDelegate&lt;Event&gt; fnmaPublisherDelegate;</em>
                <br/>
                <em>public void sendOrder(KinesisEvent event) throws JsonProcessingException {</em>
                <br/>
                <em>fnmaPublisherDelegate.send("produceOrder-out-0", buildEventObject(event),new HashMap&lt;&gt;());</em>
                <br/>
                <em>
                  <a href="http://logger.info">logger.info</a>("Event sent: " + event.toString());</em>
                <br/>
                <em>}</em>
                <br/>
                <em>}</em>
              </div>
            </div>
          </p>
          <p>
            <strong>
              <br/>B. Send Order Event as a string:<br/>
              <br/>
            </strong>
            <u>
              <em>
                <strong>OrderSourceString.Java</strong>
              </em>
            </u>
          </p>
          <p>
             <div class="code">
              <div class="container" title="Hint: double-click to select code">
                <em>@Autowired</em>
                <br/>
                <em>private FnmaPublisherDelegate&lt;String&gt; fnmaPublisherDelegate;</em>
                <br/>
                <em>public void sendOrder(KinesisEvent event) throws JsonProcessingException {</em>
                <br/>
                <em>fnmaPublisherDelegate.send("produceOrder-out-0", "test payload" ,new HashMap&lt;&gt;());</em>
                <br/>
                <em>
                  <a href="http://logger.info">logger.info</a>("Event sent: " + event.toString());</em>
                <br/>
                <em>}</em>
              </div>
              </div>
          </p>
          <p>
            <strong>IMPORTANT NOTE: If you are integrating onprem bridge SNS SQS with kinesis, for example if you want message from onprem consumer to be published to kinesis then please use the overloaded method of send() in fnmaPublisherDelegate to pass 4th argument as kinesis as shown below.</strong>
          </p>
          <p>
             <div class="code">
              <div class="container" title="Hint: double-click to select code">
                <em>public void sendOrder(KinesisEvent event) throws JsonProcessingException {</em>
                <br/>
                <em>fnmaPublisherDelegate.send("produceOrder1-out-0",</em>
                <br/>
                <em>fnmaEventObjectMapper.writeValueAsString(buildEventObject(event)) ,new HashMap&lt;&gt;()</em>
                <br/>
                <em>,"kinesis");</em>
                <br/>
                <em>
                  <a href="http://logger.info">logger.info</a>("Event sent: " + event.toString());</em>
                <br/>
                <em>}</em>
              </div>
            </div>
          </p>
          <h3>
            <strong>
              <span style="color: rgb(0,0,0);">Header Propagation:</span>
            </strong>
          </h3>
           <div class="code">
              <div class="container" title="Hint: double-click to select code">
               
                  <span style="color: rgb(204,120,50);">spring.cloud.stream.kinesis.binder.headers</span>
                  <span style="color: rgb(128,128,128);">=</span>
                  <span style="color: rgb(106,135,89);">spanTraceId,spanId,spanParentSpanId,nativeHeaders,X-B3-SpanId,X-B3-ParentSpanId,X-B3-Sampled,X-B3-TraceId,spanSampled<br/>
                  </span>
                
              </div>
            </div>
          <h3 class="auto-cursor-target">
            <strong>Error Record preprocessor: </strong>
          </h3>a
          <table class="wrapped" style="width: 241.0px;">
            <tbody>
              <tr>
                <td colspan="2" style="width: 241.0px;text-align: center;">
                  <strong>Retry Configuration</strong>
                </td>
              </tr>
              <tr>
                <td style="width: 198.0px;">maxAttempts</td>
                <td style="width: 43.0px;">2</td>
              </tr>
              <tr>
                <td style="width: 198.0px;">backOffInitialInterval</td>
                <td style="width: 43.0px;">100</td>
              </tr>
              <tr>
                <td style="width: 198.0px;">
                  <pre>producerBackOffInterval</pre>
                </td>
                <td style="width: 43.0px;">100</td>
              </tr>
            </tbody>
          </table>
          <h3>
            <span style="color: rgb(0,0,0);">
              <strong>Test:</strong>
            </span>
          </h3>
          <ul>
            <li>You can use any Rest Client to perform POST operations at end point <p>
                <a class="external-link" href="http://localhost:5050/chassis-onprem." rel="nofollow" style="text-decoration: none;">http://localhost:8082/sendJson</a> to send Oder Event as Jason or <a class="external-link" href="http://localhost:5050/chassis-onprem." rel="nofollow" style="text-decoration: none;">http://localhost:8082/sen</a>dString to send Order Event as E </p>
            </li>
            <li>To see whether the topic is able to consume the messages, please follow the starter guide for <span style="color: rgb(0,0,0);">
                <span style="color: rgb(0,51,102);">
                  <strong>
                    <a class="external-link" href="https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-kinesis-consumer-starter" rel="nofollow" style="text-decoration: none;">chassis-kinesis-consumer-starter</a>
                  </strong>and run the both producer and consumer microservices at a time in your local.</span>
              </span>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <br/>
</p>
<table class="relative-table wrapped" style="width: 100.0%;">
  <colgroup>
    <col style="width: 100.0%;"/>
  </colgroup>
  <tbody>
    <tr>
      <th>
        <h3>Dependencies</h3>
      </th>
    </tr>
    <tr>
      <td>
        <p>For better usage of Chassis to avoid version mismatches with spring boot dependencies and other runtime dependencies used by Chassis, we recommend you to use our Dependency-Management in your project. To know how to use Dependencies Management : Getting Started With Dependency Management</p>
        <p>Lets Get Started!</p>
        <p>For Gradle, you need to add chassis components fnma-boot and fnma-boot-kinesis-starter in the dependencies closure in build.gradle, as the following listing shows:</p>
        <p>
          <br/>
          <strong>
            <u>
              <em>build.gradle</em>
            </u>
          </strong>
        </p>
        <p>
           <div class="code">
              <div class="container" title="Hint: double-click to select code">
                <em>implementation 'com.fanniemae.chassis:fnma-boot'</em>
                <br/>
                <em>implementation 'com.fanniemae.chassis:fnma-boot-starter-kinesis'</em>
              </div>
            </div>
        </p>
        <p>
          <br/>For Maven, you need to add this pom.xml with these dependencies for the project to build successfully while in the same project with build.gradle. Please see be below:</p>
        <p>
          <strong>
            <u>
              <em>pom.xml</em>
            </u>
          </strong>
        </p>
        <p>
           <div class="code">
              <div class="container" title="Hint: double-click to select code">
                <em>&lt;dependency&gt;</em>
                <br/>
                <em>&lt;groupId&gt;com.fanniemae.chassis&lt;/groupId&gt;</em>
                <br/>
                <em>&lt;artifactId&gt;fnma-boot&lt;/artifactId&gt;</em>
                <br/>
                <em>&lt;/dependency&gt;</em>
                <br/>
                <br/>
                <em>&lt;dependency&gt;</em>
                <br/>
                <em>&lt;groupId&gt;com.fanniemae.chassis&lt;/groupId&gt;</em>
                <br/>
                <em>&lt;artifactId&gt;fnma-boot-starter-kinesis&lt;/artifactId&gt;</em>
                <br/>
                <em>&lt;/dependency&gt;</em>
                <br/>
                <em>&lt;dependency&gt;</em>
                <br/>
                <em>&lt;groupId&gt;org.projectlombok&lt;/groupId&gt;</em>
                <br/>
                <em>&lt;artifactId&gt;lombok&lt;/artifactId&gt;</em>
                <br/>
                <em>&lt;/dependency&gt;</em>
              </div>
            </div>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <br/>
</p>
<table class="relative-table wrapped" style="width: 100.0%;">
  <colgroup>
    <col style="width: 100.0%;"/>
  </colgroup>
  <tbody>
    <tr>
      <th>
        <h3>Sample Code</h3>
      </th>
    </tr>
    <tr>
      <td>
        <a href="https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-kinesis-producer-starter">https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-kinesis-producer-starter</a>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <br/>
</p>
<table class="relative-table wrapped" style="width: 100.0%;">
  <colgroup>
    <col style="width: 100.0%;"/>
  </colgroup>
  <tbody>
    <tr>
      <th>
        <h3>Integration with CI/CD? (Yes or NO)</h3>
      </th>
    </tr>
    <tr>
      <td>No</td>
    </tr>
  </tbody>
</table>
<p class="auto-cursor-target">
  <br/>
</p>
