---
title: Chassis Template
---

<style type="text/css">
.confluence-information-macro-warning {
    background: #fff8f7;
    border-color: #d04437;
}

.confluence-information-macro {
    background: #fcfcfc;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 1em 0;
    min-height: 20px;
    padding: 10px 10px 10px 36px;
    position: relative;
}


.aui-iconfont-error:before {
    content: "\F15A";
}

.aui-icon-small:before {
    margin-top: -8px;
}

aui-icon-large:before, .aui-icon-small:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    font-family: Adgs Icons;
    font-weight: 400;
    font-style: normal;
    speak: none;
    color: inherit;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    top: 50%;
}

.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-error {
    color: #cf4336;
}
.confluence-information-macro .confluence-information-macro-icon {
    display: block;
    left: 10px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    vertical-align: text-bottom;
}

.panel, .alertPanel, .infoPanel {
    color: #333;
    padding: 0;
    margin: 10px 0;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 3px;
}

}
.pdl .panelContent {
    color: #333;
    margin: 0;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    background: #fff;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}


.syntaxhighlighter {
    width: 100%;
  
    position: relative;

    font-size: 1em;
}

.toolbar{
  display: none;
}

.syntaxhighlighter.sh-midnight {
    background-color: #0f192a !important;
}

.pdl .codeContent .gutter, code, .code {
  color: #fff !important;
    background: #0a2b1d !important;
}

.syntaxhighlighter.sh-midnight .line.alt2 {
    background-color: #0f192a !important;
}

.wiki-content .panel.conf-macro {
    border-color: #dfe1e5;
}

div.panel.pdl {
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.panel, .alertPanel, .infoPanel {
    color: #333;
    padding: 0;
    margin: 10px 0;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 3px;
}


.pdl .codeContent {
    padding: 0;
}
.pdl .panelContent {
    color: #333;
    margin: 0;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    background: #fff;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

</style>

<p class="auto-cursor-target">
  <br/>
</p>
<div class="confluence-information-macro confluence-information-macro-warning conf-macro output-block" data-hasbody="true" data-macro-name="warning"><span class="aui-icon aui-icon-small aui-iconfont-error confluence-information-macro-icon"> </span><div class="confluence-information-macro-body"><p>There is a new Zero-Day Vulnerability affecting log4j!&nbsp; Logging Framework uses sl4j and logback and <strong>does not use</strong> log4j, however Spring Boot logging takes in log4j as a transitive dependency.&nbsp; As a precaution, we have updated Chassis to resolve these transitive dependencies to the fixed versions of log4j to avoid execution of the zero-day exploit.&nbsp; The versions for log4j have been updated to 2.15.0 and the Chassis version to use is Chassis 1.5.114 to avoid the affected log4j versions.</p></div></div>
<p class="auto-cursor-target">
  <br/>
</p>
<h2>
  <span style="color: rgb(0,0,255);">Guide application: </span>
</h2>
<div class="confluence-information-macro confluence-information-macro-information conf-macro output-block" data-hasbody="true" data-macro-name="info"><span class="aui-icon aui-icon-small aui-iconfont-info confluence-information-macro-icon"> </span><div class="confluence-information-macro-body"><em>Please refer our example micro-service using logging framework&nbsp;</em>:&nbsp;<a class="external-link" href="https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-logging-complete" rel="nofollow">https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-logging-complete</a></div></div>
<h2>
  <span style="color: rgb(0,0,255);">Required Dependencies<br/>
  </span>
</h2>
<h2>
  <strong style="font-size: 14.0px;letter-spacing: 0.0px;">
    <span style="color: rgb(51,51,51);">Gradle:</span>
  </strong>
  <span style="color: rgb(0,0,255);">
    <br/>
  </span>
</h2>
<h2>
  <span style="color: rgb(0,0,255);">Dependencies Management :   <a href="https://confluence:8443/display/GF2/Getting+Started+With+Dependency+Management" style="text-decoration: none;">Getting Started With Dependency Management</a>
  </span>
</h2>
<p>
  <span style="color: rgb(51,51,51);">Open your <strong>build.gradle</strong> file and add the following under dependencies section</span>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_427401" class="syntaxhighlighter sh-midnight  groovy"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="groovy plain">implementation&nbsp;&nbsp;com.fanniemae.chassis:fnma-boot'</code></div><div class="line number2 index1 alt1"><code class="groovy plain">implementation </code><code class="groovy string">'com.fanniemae.chassis:logging-framework'</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>
  <strong>
    <span style="color: rgb(51,51,51);">Maven:</span>
  </strong>
</p>
<p>
  <span style="color: rgb(51,51,51);">Open your <strong>pom.xml</strong> file and add the following under the dependencies section</span>
</p>
<p class="auto-cursor-target">
  <br/>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_486466" class="syntaxhighlighter sh-django  xml"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div><div class="line number6 index5 alt1">6</div><div class="line number7 index6 alt2">7</div><div class="line number8 index7 alt1">8</div><div class="line number9 index8 alt2">9</div><div class="line number10 index9 alt1">10</div><div class="line number11 index10 alt2">11</div><div class="line number12 index11 alt1">12</div><div class="line number13 index12 alt2">13</div><div class="line number14 index13 alt1">14</div><div class="line number15 index14 alt2">15</div><div class="line number16 index15 alt1">16</div><div class="line number17 index16 alt2">17</div><div class="line number18 index17 alt1">18</div><div class="line number19 index18 alt2">19</div><div class="line number20 index19 alt1">20</div><div class="line number21 index20 alt2">21</div><div class="line number22 index21 alt1">22</div><div class="line number23 index22 alt2">23</div><div class="line number24 index23 alt1">24</div><div class="line number25 index24 alt2">25</div><div class="line number26 index25 alt1">26</div><div class="line number27 index26 alt2">27</div><div class="line number28 index27 alt1">28</div><div class="line number29 index28 alt2">29</div><div class="line number30 index29 alt1">30</div><div class="line number31 index30 alt2">31</div><div class="line number32 index31 alt1">32</div><div class="line number33 index32 alt2">33</div><div class="line number34 index33 alt1">34</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="xml plain">&lt;</code><code class="xml keyword">properties</code><code class="xml plain">&gt;</code></div><div class="line number2 index1 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">fnma-chassis-version</code><code class="xml plain">&gt;1.5.70&lt;/</code><code class="xml keyword">fnma-chassis-version</code><code class="xml plain">&gt;</code></div><div class="line number3 index2 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;</code>&nbsp;</div><div class="line number4 index3 alt1"><code class="xml plain">&lt;/</code><code class="xml keyword">properties</code><code class="xml plain">&gt;</code></div><div class="line number5 index4 alt2">&nbsp;</div><div class="line number6 index5 alt1"><code class="xml plain">&lt;</code><code class="xml keyword">dependencies</code><code class="xml plain">&gt;</code></div><div class="line number7 index6 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">dependency</code><code class="xml plain">&gt;</code></div><div class="line number8 index7 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">groupId</code><code class="xml plain">&gt;com.fanniemae.chassis&lt;/</code><code class="xml keyword">groupId</code><code class="xml plain">&gt;</code></div><div class="line number9 index8 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">artifactId</code><code class="xml plain">&gt;fnma-boot&lt;/</code><code class="xml keyword">artifactId</code><code class="xml plain">&gt;</code></div><div class="line number10 index9 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;/</code><code class="xml keyword">dependency</code><code class="xml plain">&gt;</code></div><div class="line number11 index10 alt2">&nbsp;</div><div class="line number12 index11 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">dependency</code><code class="xml plain">&gt;</code></div><div class="line number13 index12 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">groupId</code><code class="xml plain">&gt;io.springfox&lt;/</code><code class="xml keyword">groupId</code><code class="xml plain">&gt;</code></div><div class="line number14 index13 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">artifactId</code><code class="xml plain">&gt;springfox-boot-starter&lt;/</code><code class="xml keyword">artifactId</code><code class="xml plain">&gt;</code></div><div class="line number15 index14 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;/</code><code class="xml keyword">dependency</code><code class="xml plain">&gt;</code></div><div class="line number16 index15 alt1">&nbsp;</div><div class="line number17 index16 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">dependency</code><code class="xml plain">&gt;</code></div><div class="line number18 index17 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">groupId</code><code class="xml plain">&gt;com.fanniemae.chassis&lt;/</code><code class="xml keyword">groupId</code><code class="xml plain">&gt;</code></div><div class="line number19 index18 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">artifactId</code><code class="xml plain">&gt;service-framework&lt;/</code><code class="xml keyword">artifactId</code><code class="xml plain">&gt;</code></div><div class="line number20 index19 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;/</code><code class="xml keyword">dependency</code><code class="xml plain">&gt;</code></div><div class="line number21 index20 alt2">&nbsp;</div><div class="line number22 index21 alt1"><code class="xml plain">&lt;/</code><code class="xml keyword">dependencies</code><code class="xml plain">&gt;</code></div><div class="line number23 index22 alt2">&nbsp;</div><div class="line number24 index23 alt1"><code class="xml plain">&lt;</code><code class="xml keyword">dependencyManagement</code><code class="xml plain">&gt;</code></div><div class="line number25 index24 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">dependencies</code><code class="xml plain">&gt;</code></div><div class="line number26 index25 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">dependency</code><code class="xml plain">&gt;</code></div><div class="line number27 index26 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">groupId</code><code class="xml plain">&gt;com.fanniemae.chassis&lt;/</code><code class="xml keyword">groupId</code><code class="xml plain">&gt;</code></div><div class="line number28 index27 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">artifactId</code><code class="xml plain">&gt;dependency-management&lt;/</code><code class="xml keyword">artifactId</code><code class="xml plain">&gt;</code></div><div class="line number29 index28 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">version</code><code class="xml plain">&gt;${fnma-chassis-version}&lt;/</code><code class="xml keyword">version</code><code class="xml plain">&gt;</code></div><div class="line number30 index29 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">type</code><code class="xml plain">&gt;pom&lt;/</code><code class="xml keyword">type</code><code class="xml plain">&gt;</code></div><div class="line number31 index30 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;</code><code class="xml keyword">scope</code><code class="xml plain">&gt;import&lt;/</code><code class="xml keyword">scope</code><code class="xml plain">&gt;</code></div><div class="line number32 index31 alt1"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;/</code><code class="xml keyword">dependency</code><code class="xml plain">&gt;</code></div><div class="line number33 index32 alt2"><code class="xml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="xml plain">&lt;/</code><code class="xml keyword">dependencies</code><code class="xml plain">&gt;</code></div><div class="line number34 index33 alt1"><code class="xml plain">&lt;/</code><code class="xml keyword">dependencyManagement</code><code class="xml plain">&gt;</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>
  <strong>logging-framework</strong>
  <span style="color: rgb(51,51,51);">: P</span>
  <span style="color: rgb(23,43,77);">rovides a custom FannieMae logger which is fully compatible with SLF4J APIs along with some additional functionality. This logger is a spring bean, and therefore can be Autowired into your spring beans.</span>
</p>
<p>
  <br/>Now that you have set up the project and build the system, you can create your web service.</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_606620" class="syntaxhighlighter sh-django  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java keyword">import</code> <code class="java plain">com.fanniemae.chassis.logging.slf4j.Logger;</code></div><div class="line number2 index1 alt1"><code class="java keyword">import</code> <code class="java plain">com.fanniemae.chassis.logging.slf4j.LoggerFactory;</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>
  <span style="color: rgb(204,120,50);">
    <br/>
    <span style="color: rgb(0,0,0);">In your Controller class you will be adding the following statement to use logger</span>
    <br/>
  </span>
</p>
<pre>
  <br/>
</pre>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_44501" class="syntaxhighlighter sh-django  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java keyword">private</code> <code class="java keyword">static</code> <code class="java keyword">final</code> <code class="java plain">Logger log = LoggerFactory.getLogger(HelloWorldController.</code><code class="java keyword">class</code><code class="java plain">);</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>
  <br/>
</p>
<p>
  <span style="color: rgb(0,0,255);font-size: 20.0px;letter-spacing: -0.008em;">Log Pattern : How chassis providing outbox logger :</span>
</p>
<p>
  <span style="color: rgb(0,0,0);">chassis providing in-built xml file and standardize the log statements. </span>Below is the log pattern that by default provided by Chassis. For any additional custom keys that you defined for your application will be added to this pattern <br/>
  <br/>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeHeader panelHeader pdl" style="border-bottom-width: 1px;"><b>logback-spring.xml</b></div><div class="codeContent panelContent pdl">
<div><div id="highlighter_103932" class="syntaxhighlighter sh-confluence nogutter  xml"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="xml plain">{</code></div><div class="line number2 index1 alt1"><code class="xml plain">"requestTime": "02/11/2021T15:20:50.999",</code></div><div class="line number3 index2 alt2"><code class="xml plain">"@version": "1",</code></div><div class="line number4 index3 alt1"><code class="xml plain">"message": "PersonContoller :: listOfPersons 3d1afd74f56f2fe3",</code></div><div class="line number5 index4 alt2"><code class="xml plain">"logger_name": "com.fanniemae.serviceguide.controller.ChassisServiceContoller",</code></div><div class="line number6 index5 alt1"><code class="xml plain">"thread_name": "http-nio-7000-exec-1",</code></div><div class="line number7 index6 alt2"><code class="xml plain">"level": "INFO",</code></div><div class="line number8 index7 alt1"><code class="xml plain">"level_value": 20000,</code></div><div class="line number9 index8 alt2"><code class="xml plain">"appName": "Chassis-service-guide-1.0",</code></div><div class="line number10 index9 alt1"><code class="xml plain">"traceId": "3d1afd74f56f2fe3",</code></div><div class="line number11 index10 alt2"><code class="xml plain">"spanExportable": "true",</code></div><div class="line number12 index11 alt1"><code class="xml plain">"x-fnma-correlation-id": "3d1afd74f56f2fe3",</code></div><div class="line number13 index12 alt2"><code class="xml plain">"X-Span-Export": "true",</code></div><div class="line number14 index13 alt1"><code class="xml plain">"sourceAddress": "0:0:0:0:0:0:0:1",</code></div><div class="line number15 index14 alt2"><code class="xml plain">"method": "GET",</code></div><div class="line number16 index15 alt1"><code class="xml plain">"userAgentAttributes": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36",</code></div><div class="line number17 index16 alt2"><code class="xml plain">"applicationAddress": "localhost",</code></div><div class="line number18 index17 alt1"><code class="xml plain">"spanId": "3d1afd74f56f2fe3",</code></div><div class="line number19 index18 alt2"><code class="xml plain">"X-B3-SpanId": "3d1afd74f56f2fe3",</code></div><div class="line number20 index19 alt1"><code class="xml plain">"serviceNameProtocol": "/chassis-service_http",</code></div><div class="line number21 index20 alt2"><code class="xml plain">"X-B3-TraceId": "3d1afd74f56f2fe3",</code></div><div class="line number22 index21 alt1"><code class="xml plain">"componentName": "/chassis-service",</code></div><div class="line number23 index22 alt2"><code class="xml plain">}</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p class="auto-cursor-target">You can add your application name as below to better trace logs by finding where the log is coming from. </p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeHeader panelHeader pdl" style="border-bottom-width: 1px;"><b>application.yml</b></div><div class="codeContent panelContent pdl">
<div><div id="highlighter_857566" class="syntaxhighlighter sh-confluence nogutter  yml"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="yml variable">spring:</code></div><div class="line number2 index1 alt1"><code class="yml spaces">&nbsp;&nbsp;</code><code class="yml variable">application:</code></div><div class="line number3 index2 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">name:</code> <code class="yml plain">chassis-service-guide-1.0.&nbsp;&nbsp; //Make sure application adding with version</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>
  <span class="auto-cursor-target" style="color: rgb(0,0,0);">As shown below you can add basic logger properties such as format, timeZone and business-system-name under fanniemae.chassis properties in your application.properties/application.yml file.</span>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeHeader panelHeader pdl" style="border-bottom-width: 1px;"><b>application.yml</b></div><div class="codeContent panelContent pdl">
<div><div id="highlighter_347143" class="syntaxhighlighter sh-confluence nogutter  yml"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="yml variable">fanniemae:</code></div><div class="line number2 index1 alt1"><code class="yml spaces">&nbsp;&nbsp;</code><code class="yml variable">chassis:</code></div><div class="line number3 index2 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">logger:</code></div><div class="line number4 index3 alt1"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </code><code class="yml plain">format</code><code class="yml constants">:</code> <code class="yml plain">json.&nbsp;// you can also use console for readability</code></div><div class="line number5 index4 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp; </code><code class="yml plain">timeZone</code><code class="yml constants">:</code> <code class="yml plain">America/New_York (By Default UTC)</code></div><div class="line number6 index5 alt1"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </code><code class="yml plain">business-system-name</code><code class="yml constants">:</code> <code class="yml plain">Digital Engineering //Business Unit name</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p class="auto-cursor-target">
  <br/>
</p>
<div class="confluence-information-macro confluence-information-macro-information conf-macro output-block" data-hasbody="true" data-macro-name="info"><span class="aui-icon aui-icon-small aui-iconfont-info confluence-information-macro-icon"> </span><div class="confluence-information-macro-body">For timeZone Values please refer to&nbsp;<a href="/pages/viewpage.action?pageId=521739163">Getting Started With Fnma Chassis Utilities - ( DateTime + Serialization + ContentType + Zip )</a></div></div>
<p class="auto-cursor-target">
  <br/>
</p>
<p class="auto-cursor-target">Applications who still running in onprem can use file appender and generate file in specific location using following configuration.</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_337246" class="syntaxhighlighter sh-django nogutter  yml"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="yml variable">fanniemae:</code></div><div class="line number2 index1 alt1"><code class="yml spaces">&nbsp;&nbsp;</code><code class="yml variable">chassis:</code></div><div class="line number3 index2 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">logger:</code></div><div class="line number4 index3 alt1"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">format:</code> <code class="yml plain">file</code></div><div class="line number5 index4 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">logFileLocation:</code> <code class="yml plain">/Users/b2udav/Documents/Work/chassis-starter-guides/complete/chassis-logging-complete/logs/</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p class="auto-cursor-target">
  <br/>
  <br/>
  <span style="color: rgb(0,0,255);">Limit the log trace size:</span>
</p>
<p>
  <br/>Most of the times logger trace contains lot of unwanted information and occupy most of the error statement. Chassis providing option to limit the trace lines and only print needed root cause in the top based on following configuration  <br/>
  <br/>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_947316" class="syntaxhighlighter sh-django  yml"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="yml variable">fanniemae:</code></div><div class="line number2 index1 alt1"><code class="yml spaces">&nbsp;&nbsp;</code><code class="yml variable">chassis:</code></div><div class="line number3 index2 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">logger:</code></div><div class="line number4 index3 alt1"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">stackTraceLimit:</code> <code class="yml color2 bold">10</code></div><div class="line number5 index4 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">rootCauseOnTheTop:</code> <code class="yml constants">true</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p class="auto-cursor-target">
  <br/>
</p>
<p>
  <span style="color: rgb(0,0,255);">
    <br/>
    <br/>Custom Keys Injection: </span>
</p>
<p>
  <span style="color: rgb(0,0,0);">
    <br/>
  </span>
</p>
<p>As mentioned above framework adds minimum requiresdkeys to meet SRE standards, but as a user you are not restricted to that, You can add whatever keys you want in your application logs declaratively using below configuration.<br/>
  <br/>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_773143" class="syntaxhighlighter sh-django  yml"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div><div class="line number6 index5 alt1">6</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="yml variable">fanniemae:</code></div><div class="line number2 index1 alt1"><code class="yml spaces">&nbsp;&nbsp;</code><code class="yml variable">chassis:</code></div><div class="line number3 index2 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">logger:</code></div><div class="line number4 index3 alt1"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">additionalproperties:</code></div><div class="line number5 index4 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">propagation:</code> <code class="yml plain">LoanId</code><code class="yml constants">,</code> <code class="yml plain">CustomeKey1</code><code class="yml constants">,</code></div><div class="line number6 index5 alt1"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">logging:</code> <code class="yml plain">CustomeKey1</code><code class="yml constants">,</code> <code class="yml plain">CustomeKey2</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>
  <br/>
</p>
<p>And use below static method from logger framework to add the values to the log context and propagate it to further child services</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_764219" class="syntaxhighlighter sh-django  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java plain">FnmaLoggingUtility.updatePropagationFields(</code><code class="java string">"LoanId"</code><code class="java plain">, </code><code class="java string">"loan-38328328"</code><code class="java plain">);</code></div><div class="line number2 index1 alt1"><code class="java plain">FnmaLoggingUtility.updatePropagationFields(</code><code class="java string">"CustomeKey1"</code><code class="java plain">, </code><code class="java string">"Random Value1"</code><code class="java plain">);</code></div><div class="line number3 index2 alt2"><code class="java plain">FnmaLoggingUtility.updatePropagationFields(</code><code class="java string">"CustomeKey2"</code><code class="java plain">, </code><code class="java string">"Random Value2"</code><code class="java plain">);</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>
  <br/>Below is the sample controller looks like with basic logging and CustomKey Injection</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_975257" class="syntaxhighlighter sh-django  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div><div class="line number6 index5 alt1">6</div><div class="line number7 index6 alt2">7</div><div class="line number8 index7 alt1">8</div><div class="line number9 index8 alt2">9</div><div class="line number10 index9 alt1">10</div><div class="line number11 index10 alt2">11</div><div class="line number12 index11 alt1">12</div><div class="line number13 index12 alt2">13</div><div class="line number14 index13 alt1">14</div><div class="line number15 index14 alt2">15</div><div class="line number16 index15 alt1">16</div><div class="line number17 index16 alt2">17</div><div class="line number18 index17 alt1">18</div><div class="line number19 index18 alt2">19</div><div class="line number20 index19 alt1">20</div><div class="line number21 index20 alt2">21</div><div class="line number22 index21 alt1">22</div><div class="line number23 index22 alt2">23</div><div class="line number24 index23 alt1">24</div><div class="line number25 index24 alt2">25</div><div class="line number26 index25 alt1">26</div><div class="line number27 index26 alt2">27</div><div class="line number28 index27 alt1">28</div><div class="line number29 index28 alt2">29</div><div class="line number30 index29 alt1">30</div><div class="line number31 index30 alt2">31</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java keyword">import</code> <code class="java plain">com.fanniemae.chassis.api.v1.annotations.FnmaResponse;</code></div><div class="line number2 index1 alt1">&nbsp;</div><div class="line number3 index2 alt2">&nbsp;</div><div class="line number4 index3 alt1"><code class="java keyword">import</code> <code class="java plain">com.fanniemae.chassis.logging.event.LogMethodExecTime;</code></div><div class="line number5 index4 alt2"><code class="java keyword">import</code> <code class="java plain">com.fanniemae.chassis.logging.slf4j.Logger;</code></div><div class="line number6 index5 alt1"><code class="java keyword">import</code> <code class="java plain">com.fanniemae.chassis.logging.slf4j.LoggerFactory;</code></div><div class="line number7 index6 alt2"><code class="java keyword">import</code> <code class="java plain">org.springframework.http.HttpStatus;</code></div><div class="line number8 index7 alt1"><code class="java keyword">import</code> <code class="java plain">org.springframework.http.ResponseEntity;</code></div><div class="line number9 index8 alt2"><code class="java keyword">import</code> <code class="java plain">com.fanniemae.chassis.logging.event.FnmaLoggingUtility;</code></div><div class="line number10 index9 alt1">&nbsp;</div><div class="line number11 index10 alt2"><code class="java keyword">import</code> <code class="java plain">org.springframework.web.bind.annotation.GetMapping;</code></div><div class="line number12 index11 alt1"><code class="java keyword">import</code> <code class="java plain">org.springframework.web.bind.annotation.RequestHeader;</code></div><div class="line number13 index12 alt2"><code class="java keyword">import</code> <code class="java plain">org.springframework.web.bind.annotation.RequestMapping;</code></div><div class="line number14 index13 alt1"><code class="java keyword">import</code> <code class="java plain">org.springframework.web.bind.annotation.RestController;</code></div><div class="line number15 index14 alt2">&nbsp;</div><div class="line number16 index15 alt1"><code class="java color1">@RestController</code></div><div class="line number17 index16 alt2"><code class="java color1">@RequestMapping</code><code class="java plain">(</code><code class="java string">"/chassis-logger"</code><code class="java plain">)</code></div><div class="line number18 index17 alt1"><code class="java keyword">public</code> <code class="java keyword">class</code> <code class="java plain">HelloWorldController {</code></div><div class="line number19 index18 alt2">&nbsp;</div><div class="line number20 index19 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">private</code> <code class="java keyword">static</code> <code class="java keyword">final</code> <code class="java plain">Logger log = LoggerFactory.getLogger(HelloWorldController.</code><code class="java keyword">class</code><code class="java plain">);</code></div><div class="line number21 index20 alt2">&nbsp;</div><div class="line number22 index21 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java color1">@FnmaResponse</code></div><div class="line number23 index22 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java color1">@LogMethodExecTime</code></div><div class="line number24 index23 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java color1">@GetMapping</code><code class="java plain">(value = </code><code class="java string">"/test/without-correlation"</code><code class="java plain">, produces = </code><code class="java string">"application/json"</code><code class="java plain">)</code></div><div class="line number25 index24 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">public</code> <code class="java plain">ResponseEntity&lt;String&gt; getHelloWorldMessage() {</code></div><div class="line number26 index25 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">log.info(</code><code class="java string">"Logging for HelloWorldController::getHelloWorldMessage"</code><code class="java plain">);</code></div><div class="line number27 index26 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">FnmaLoggingUtility.updatePropagationFields(</code><code class="java string">"LoanId"</code><code class="java plain">, </code><code class="java string">"loan-38328328"</code><code class="java plain">);</code></div><div class="line number28 index27 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">FnmaLoggingUtility.updatePropagationFields(</code><code class="java string">"CustomeKey1"</code><code class="java plain">, </code><code class="java string">"Random Value1"</code><code class="java plain">);</code></div><div class="line number29 index28 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">FnmaLoggingUtility.updatePropagationFields(</code><code class="java string">"CustomeKey2"</code><code class="java plain">, </code><code class="java string">"Random Value2"</code><code class="java plain">);</code></div><div class="line number30 index29 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">return</code> <code class="java keyword">new</code> <code class="java plain">ResponseEntity&lt;&gt;(</code><code class="java string">"Hello World"</code><code class="java plain">, HttpStatus.CREATED);</code></div><div class="line number31 index30 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">}</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<h1>
  <span style="color: rgb(0,0,255);">How to create error / warning alert keys ? Splunk logs</span>
</h1>
<h4>
  <span style="color: rgb(0,0,255);">
    <span style="color: rgb(0,0,0);">You can add the following error and warning alert keys in your application properties with Splunk Alert Key as value as mentioned below</span>
  </span>
</h4>
<table class="wrapped">
  <colgroup>
    <col/>
    <col/>
    <col/>
    <col/>
  </colgroup>
  <tbody>
    <tr>
      <td style="text-align: left;">error.alert.key</td>
      <td style="text-align: left;">This text is automatically logged for "ERROR" log messages</td>
      <td style="text-align: left;">DEFAULT_ERROR_ALERT</td>
      <td colspan="1">
        <span style="color: rgb(0,0,0);">RuntimeException</span>
      </td>
    </tr>
    <tr>
      <td style="text-align: left;">warn.alert.key</td>
      <td style="text-align: left;">
        <span>This text is automatically logged for "WARN" log messages</span>
      </td>
      <td style="text-align: left;">DEFAULT_WARN_ALERT</td>
      <td colspan="1">
        <br/>
      </td>
    </tr>
    <tr>
      <td colspan="1">
        <p>
          <span style="color: rgb(6,125,23);">business.alert.key</span>
        </p>
      </td>
      <td colspan="1">This text is automatically logged for "BUSINESS" log messages</td>
      <td colspan="1">
        <p>
          <span style="color: rgb(6,125,23);">DEFAULT_BUSINESS_ALERT</span>
        </p>
      </td>
      <td colspan="1">
        <span style="color: rgb(0,0,0);">Exception</span>
      </td>
    </tr>
  </tbody>
</table>
<h2>
  <span style="color: rgb(0,0,255);">Batch Id: </span>
  <span style="color: rgb(0,0,255);">How it works</span>
</h2>
<p>Batch Id implementation is enabled in such a way that, with minimal and simple configurations Batch Id will be generated in the logs across micro-services. Adding the <strong>FnmaBatchTracer</strong> attribute along with the Async attribute (on the method that needs to be executed in parallel) will automatically inject batch id to the log and to the execution context. The same execution context will be propagated to the microservices consumed by the Async method and will be injected to the logs in the propagated micro-services automatically based on the availability of an application configuration.</p>
<p>Please refer our getting starter project for reference implementation: <a href="https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-logger-batchid-complete">https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-logger-batchid-complete</a>
</p>
<h2>
  <span style="color: rgb(0,0,255);">@FnmaBatchTracer</span>
</h2>
<p>This custom annotation built only for generating the batch id in method level. The consumer application can add this annotation in any method ( New Thread / Current Thread ) and our proxy will detect the method in run time and add BatchId propagation to the subsequent service/method calls. </p>
<p>
  <br/>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_143235" class="syntaxhighlighter sh-midnight  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div><div class="line number6 index5 alt1">6</div><div class="line number7 index6 alt2">7</div><div class="line number8 index7 alt1">8</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java color1">@Async</code></div><div class="line number2 index1 alt1"><code class="java color1">@FnmaBatchTracer</code></div><div class="line number3 index2 alt2"><code class="java keyword">public</code> <code class="java plain">CompletableFuture&lt;String&gt; findUser(String user) </code><code class="java keyword">throws</code> <code class="java plain">InterruptedException {</code></div><div class="line number4 index3 alt1"><code class="java spaces">&nbsp;&nbsp;</code><code class="java plain">log.info(</code><code class="java string">"Looking up "</code> <code class="java plain">+ user);</code></div><div class="line number5 index4 alt2"><code class="java spaces">&nbsp;&nbsp;</code><code class="java plain">Thread.sleep(1000L);</code></div><div class="line number6 index5 alt1"><code class="java spaces">&nbsp;&nbsp;</code><code class="java plain">postDetails(user);</code></div><div class="line number7 index6 alt2"><code class="java spaces">&nbsp;&nbsp;</code><code class="java keyword">return</code> <code class="java plain">CompletableFuture.completedFuture(user);</code></div><div class="line number8 index7 alt1"><code class="java plain">}</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>
  <br/>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_336083" class="syntaxhighlighter sh-midnight  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div><div class="line number6 index5 alt1">6</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java plain">fanniemae:</code></div><div class="line number2 index1 alt1"><code class="java spaces">&nbsp;&nbsp;</code><code class="java plain">chassis:</code></div><div class="line number3 index2 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">logger:</code></div><div class="line number4 index3 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">additionalproperties:</code></div><div class="line number5 index4 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">propagation: batchId</code></div><div class="line number6 index5 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">logging: batchId</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<h2>
  <span style="color: rgb(0,0,255);">Correlation Id:  </span>
  <span style="color: rgb(0,0,255);">How it work</span>
</h2>
<p>Correlation Id also same concept as like BatchId but its providing some additional capabilities to read the incoming <strong>x-fnma-correlation-id </strong>or <strong>generate</strong> the x-fnma-correlation-id based on the flag </p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_8433" class="syntaxhighlighter sh-django  yml"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div><div class="line number6 index5 alt1">6</div><div class="line number7 index6 alt2">7</div><div class="line number8 index7 alt1">8</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="yml variable">fanniemae:</code></div><div class="line number2 index1 alt1"><code class="yml spaces">&nbsp;&nbsp;</code><code class="yml variable">chassis:</code></div><div class="line number3 index2 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">logger:</code></div><div class="line number4 index3 alt1"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">additionalproperties:</code></div><div class="line number5 index4 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">propagation:</code> <code class="yml plain">batchId</code><code class="yml constants">,</code> <code class="yml plain">x-fnma-correlation-id</code></div><div class="line number6 index5 alt1"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">logging:</code> <code class="yml plain">batchId</code><code class="yml constants">,</code> <code class="yml plain">x-fnma-correlation-id</code></div><div class="line number7 index6 alt2"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">correlation:</code> <code class="yml plain">x-fnma-correlation-id</code></div><div class="line number8 index7 alt1"><code class="yml spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="yml variable">autoSetCorrIdIfEmpty:</code> <code class="yml constants">true</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>By default, framework read the incoming token based on the key ( <strong>correlation: x-fnma-correlation-id ) </strong>and update the logger context and propagation context. The application team can control the flow of the propagation to sub-services using the following flags:</p>
<table class="wrapped">
  <colgroup>
    <col/>
    <col/>
  </colgroup>
  <tbody>
    <tr>
      <th>Key</th>
      <th>Definition</th>
    </tr>
    <tr>
      <td>fanniemae.chassis.logger.additionalproperties.logging</td>
      <td>This flag only for log the batchId, x-fnma-correlation-id in current service</td>
    </tr>
    <tr>
      <td>fanniemae.chassis.logger.additionalproperties.propagation</td>
      <td>This flag only for propagate the batchId, x-fnma-correlation-id to child services.</td>
    </tr>
    <tr>
      <td colspan="1">fanniemae.chassis.logger.additionalproperties.autoSetCorrIdIfEmpty</td>
      <td colspan="1">In some cases, the application may need to generate the correlation id from the microservice and propagate to child service. This flag helps the framework to generate the  correlation id</td>
    </tr>
  </tbody>
</table>
<h2>
  <code class="java color1" style="text-align: left;">@LogMethodExecTime</code>
</h2>
<h4>
  <span style="color: rgb(23,43,77);">Logging Framework provides convenience annotation to support method execution time, on any method will add logs with the execution time of the method annotated, including its full class path and method name.</span>
</h4>
<p class="auto-cursor-target" style="text-align: left;">
  <span style="color: rgb(23,43,77);">Just add the annotation for any method in your controller as below </span>
</p>
<pre>
  <br/>
</pre>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_631792" class="syntaxhighlighter sh-django  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div><div class="line number6 index5 alt1">6</div><div class="line number7 index6 alt2">7</div><div class="line number8 index7 alt1">8</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java color1">@FnmaResponse</code></div><div class="line number2 index1 alt1"><code class="java color1">@LogMethodExecTime</code></div><div class="line number3 index2 alt2"><code class="java color1">@GetMapping</code><code class="java plain">(value = </code><code class="java string">"/test/without-correlation"</code><code class="java plain">, produces = </code><code class="java string">"application/json"</code><code class="java plain">)</code></div><div class="line number4 index3 alt1"><code class="java keyword">public</code> <code class="java plain">ResponseEntity&lt;String&gt; getHelloWorldMessage() {</code></div><div class="line number5 index4 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">log.info(</code><code class="java string">"Logging for HelloWorldController::getHelloWorldMessage"</code><code class="java plain">);</code></div><div class="line number6 index5 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">log.addFieldsToLogContext(</code><code class="java string">"CustomeKey1"</code><code class="java plain">, </code><code class="java string">"213de1213"</code><code class="java plain">);</code></div><div class="line number7 index6 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">return</code> <code class="java keyword">new</code> <code class="java plain">ResponseEntity&lt;&gt;(</code><code class="java string">"Hello World"</code><code class="java plain">, HttpStatus.CREATED);</code></div><div class="line number8 index7 alt1"><code class="java plain">}</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p class="auto-cursor-target" style="text-align: left;">
  <span style="color: rgb(23,43,77);">Your log statements look like below</span>
</p>
<h2 class="auto-cursor-target" style="text-align: left;">
  <span style="color: rgb(23,43,77);">
    <ac:image>
      <ri:url ri:value="https://confluence:8443/plugins/servlet/confluence/placeholder/unknown-attachment?locale=en_US&amp;version=2"/>
    </ac:image>
    <br/>
    <br/>
  </span>
</h2>
<h2>
  <span style="color: rgb(0,0,255);">Logging OnPrem:</span>
</h2>
<p>
  <span style="color: rgb(0,0,0);">Logging framework provides a specific Logging Context for OnPrem consumer applications using queues.  All you have to do is add the annotation @FnmaLoggingContext and you will have access to fields such as springAppName, applicationName, eventMethodName, and span/trace.  Use the annotation like below in your OnPrem code:<br/>
  </span>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_865458" class="syntaxhighlighter sh-confluence nogutter  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java color1">@FnmaLoggingContext</code></div><div class="line number2 index1 alt1"><code class="java keyword">public</code> <code class="java keyword">void</code> <code class="java plain">startProcess() {</code></div><div class="line number3 index2 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">...</code></div><div class="line number4 index3 alt1"><code class="java plain">}</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p>
  <span class="auto-cursor-target" style="color: rgb(0,0,0);">
    <br/>
  </span>
</p>
<p class="auto-cursor-target" style="text-align: left;">
  <span style="color: rgb(23,43,77);">
    <span style="color: rgb(0,0,255);">Webclient request / response logging:<br/>
    </span>
    <br/>Following webclient bean configuration print request and response from webclient call.  Chassis FnmaChassisWebclientLogger class intercept request and response print in the logs.<br/>
    <br/>
  </span>
</p>
<p class="auto-cursor-target" style="text-align: left;">
  <span style="color: rgb(23,43,77);">Needed Dependency: implementation 'io.projectreactor.netty:reactor-netty-http-brave'<br/>
  </span>
</p>
<p class="auto-cursor-target" style="text-align: left;">
  <br/>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_707248" class="syntaxhighlighter sh-django nogutter  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java color1">@Bean</code></div><div class="line number2 index1 alt1"><code class="java color1">@Qualifier</code><code class="java plain">(</code><code class="java string">"fnmaWebclient"</code><code class="java plain">)</code></div><div class="line number3 index2 alt2"><code class="java plain">WebClient webClient(ReactorNettyHttpTracing tracing) </code><code class="java keyword">throws</code> <code class="java plain">SSLException {</code></div><div class="line number4 index3 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">SslContext sslContext = SslContextBuilder</code></div><div class="line number5 index4 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">.forClient()</code></div><div class="line number6 index5 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">.trustManager(InsecureTrustManagerFactory.INSTANCE)</code></div><div class="line number7 index6 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">.build();</code></div><div class="line number8 index7 alt1">&nbsp;</div><div class="line number9 index8 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">HttpClient httpClient = tracing.decorateHttpClient(HttpClient</code></div><div class="line number10 index9 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">.create()</code></div><div class="line number11 index10 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">.doOnConnected(conn -&gt; conn.addHandlerFirst(</code><code class="java keyword">new</code> <code class="java plain">FnmaChassisWebclientLogger())))</code></div><div class="line number12 index11 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">.secure(sslContextSpec -&gt; sslContextSpec.sslContext(sslContext));</code></div><div class="line number13 index12 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">ClientHttpConnector connector = </code><code class="java keyword">new</code> <code class="java plain">ReactorClientHttpConnector(httpClient);</code></div><div class="line number14 index13 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">return</code> <code class="java plain">WebClient.builder().clientConnector(connector).filter(correlationSetupWebClientFilter).build();</code></div><div class="line number15 index14 alt2"><code class="java plain">}</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<p class="auto-cursor-target" style="text-align: left;">
  <span style="color: rgb(23,43,77);">
    <br/>
    <br/>
    <br/>
  </span>
  <span style="color: rgb(0,0,255);font-size: 20.0px;letter-spacing: -0.008em;">Using Logging in Unit Tests: </span>   </p>
<h2 class="auto-cursor-target" style="text-align: left;">
  <span style="color: rgb(23,43,77);">To get logging worked in your junits, you will need add below code block in the starting of your test case. </span>
</h2>
<p>
  <br/>
</p>
<div class="code panel pdl conf-macro output-block" data-hasbody="true" data-macro-name="code" style="border-width: 1px;"><div class="codeContent panelContent pdl">
<div><div id="highlighter_394487" class="syntaxhighlighter sh-django  java"><div class="toolbar"><span><a href="#" class="toolbar_item command_help help">?</a></span></div><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div></td><td class="code"><div class="container" title="Hint: double-click to select code"><div class="line number1 index0 alt2"><code class="java plain">Tracing.newBuilder().localServiceName(</code><code class="java string">"testLogUtility"</code><code class="java plain">).build();</code></div><div class="line number2 index1 alt1"><code class="java keyword">final</code> <code class="java plain">Span span = Tracing.currentTracer().nextSpan().name(</code><code class="java string">"test_span"</code><code class="java plain">)</code></div><div class="line number3 index2 alt2"><code class="java plain">.start();</code></div><div class="line number4 index3 alt1"><code class="java plain">Tracing.currentTracer().withSpanInScope(span);</code></div></div></td></tr></tbody></table></div></div>
</div></div>
<h2>
  <span style="color: rgb(0,0,255);">Try with our starter guide application: </span>
  <br/>For your reference, we created a simple micro service that will just use chassis logging-framework.</h2>
<ul>
  <li>
    <span style="color: rgb(51,51,51);">
      <a href="https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-logging-complete">Download</a>
      <span style="color: rgb(23,43,77);"> </span>
      <span style="color: rgb(23,43,77);">and unzip the source repository for this guide, or clone chassis complete guides using</span>
      <span style="color: rgb(23,43,77);"> g</span>
      <a class="external-link" href="https://spring.io/understanding/Git" rel="nofollow" style="text-decoration: none;text-align: left;">it</a>
      <span style="color: rgb(23,43,77);">: </span>
      <a href="ssh://git@bitbucket:7999/gf2/chassis-starter-guides.git" rel="nofollow" style="text-decoration: none;text-align: left;">ssh://git@bitbucket:7999/gf2/chassis-starter-guides.git</a>
      <span style="color: rgb(23,43,77);">
        <span> </span>and browse the directory<span> <a href="https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-logging-complete">/complete/chassis-logging-complete</a>
        </span>
      </span>
    </span>
    <span style="color: rgb(51,51,51);">Open <span style="color: rgb(23,43,77);">
        <span>
          <a href="https://bitbucket:8443/projects/GF2/repos/chassis-starter-guides/browse/complete/chassis-logging-complete">/chassis-logging-complete</a>
        </span>
      </span> in IntelliJ.</span>
  </li>
  <li>Run the application in your desired port.</li>
</ul>
<p>
  <br/>
</p>
<p>
  <br/>
</p>
<p>
  <br/>
</p>
<p>
  <br/>
</p>
